@model Projektverwaltung.Database.Mitarbeiter

@{
    ViewBag.Title = "Delete";
}

<h2>Mitarbeiter Löschen</h2>

<h3>Möchtest du den Mitarbeiter "@Model.id" bzw. "@Model.name" wirklich löschen??</h3>
<div>
    <h4>Mitarbeiter - @Model.id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abteilung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abteilung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pensum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pensum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Zurück zur Übersicht", "Index")
        </div>
    }
</div>
