@model Projektverwaltung.Database.Mitarbeiter

@{
    ViewBag.Title = "Details";
}

<h2>Mitarbeiter - Details</h2>

<div>
    <h4>Mitarbeiter - @Model.id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abteilung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abteilung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pensum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pensum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</p>
