@model Projektverwaltung.Database.Vorgehensmodell

@{
    ViewBag.Title = "Delete";
}

<h2>Vorgehensmodell Löschen</h2>

<h3>Möchtest du das Vorgehensmodell "@Model.name" wirklick löschen?</h3>
<div>
    <h4>Vorgehensmodell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Zurück zur Übersicht", "Index")
        </div>
    }
</div>
