@model IEnumerable<Projektverwaltung.Database.Projekt>

@{
    ViewBag.Title = "Index";
    var statusList = ViewBag.StatusList as IEnumerable<SelectListItem>;
    var prioList = ViewBag.PrioList as IEnumerable<SelectListItem>;
}

<h2>Projektübersicht</h2>

<p>
    @Html.ActionLink("Projekt hinzufügen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prioritaet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fortschritt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @statusList.Where(s => s.Value == item.status.ToString()).FirstOrDefault().Text
        </td>
        <td>
            @prioList.Where(s => s.Value == item.prioritaet.ToString()).FirstOrDefault().Text
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fortschritt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
